<dl class="sub-nav reports">
  <dt>Report type:</dt>
  <dd class="active"><a href="#">Simple</a></dd>
  <dd><a href="#">By user</a></dd>
  <dd><a href="#">By category</a></dd>
</dl>
<form action="#" class="custom">
  <input type="text" placeholder="Pick date range" class="daterange reports" />
  <div class="report-options">
    <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Display full descriptions</label>
    <label for="checkbox2"><input type="checkbox" id="checkbox2" checked style="display: none;"><span class="custom checkbox checked"></span> Printable</label>
    <label for="checkbox3"><input type="checkbox" style="display: none"  id="checkbox3"><span class="custom checkbox"></span> Open in new window</label>
  </div>
</form>

