<div class="report_content" data-bind="template: {name: $root.selected_type().value}"></div>

<script id="break" type="text/html">
  <h4>Summary</h4>
  <h6>10.00</h6>
</script>

<script id="user" type="text/html"></script>

<script id="category" type="text/html"></script>
