<h4>Assume role of other user</h4>
<ul class="assume-users-list " data-bind="template: {foreach: roles, name: 'role-template'}">
</ul>
<a class="close-reveal-modal">&#215;</a>

<script type="text/html" id="role-template">
  <li data-bind="text: display_label, click: $root.assume_role"></li>
</script>
