<table cellspacing="0" class="work_day_table">
<!--  <thead>
    <tr><th>Work chart</th>
      <th>Time</th>
      <th>Description</th>
      <th></th>
  </tr></thead> -->
  <col><col><col><col>
  <tbody data-bind="template: {name: 'entry_template', foreach: collection}">
  </tbody>
</table>
  <div class="actions">
    <a data-bind="attr: {href: new_url()}" class="button"><img src="/compose-vivid.png" />New entry</a>
  </div>

<script id="middle_label_template" type="text/x-jquery-tmpl">
  <br>
  → <span data-bind="text: $data"></span>
</script>

<script id="entry_template" type="text/x-jquery-tmpl">
  <tr>
    <td>
      <span data-bind="text: top_label(), visible: chart_has_many_labels()"></span>
      <span data-bind="template: {name: 'middle_label_template', foreach: middle_labels()}, visible: chart_has_many_labels()">
      </span>
      <br data-bind="visible: chart_has_many_labels()">
      →
      <b data-bind="text: last_label()"></b>
    </td>
    <td>
      <div data-bind="text: time_string()"></div>
      <div class="entry_fee" data-bind="text: fee_total_string(), visible: fee_not_empty()"></div>
    </td>
    <td data-bind="text: get('description')"></td>
    <td>
      <a data-bind="attr: {href: front_url()}">Edit</a>
      <br>
    </td>
  </tr>
</script>
