<ul id="calendar" data-bind="template: {foreach: days(), name: 'day-template'}">
</ul>

<script type="text/html" id="day-template">
  <li data-bind="attr: {class: date_class()}">
    <div data-bind="text: day()"></div>
  </li>
</script>