<div class="row">
<div class="one columns">
</div>
<div class="seven columns">
<div id="calendar">
  <div class="header">
    <div class="picker">
      <a href="#" class="button back">back</a>
      <select class="month">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>Mai</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
      <select class="year">
        <option>2012</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
        <option>2008</option>
        <option>2007</option>
        <option>2006</option>
        <option>2005</option>
        <option>2004</option>
        <option>2003</option>
        <option>2002</option>
      </select>
      <a href="#" class="button next">next</a>
      <a href="#" class="button new">New entry</a>
    </div>
  </div>
  <div class="table">
    <table cellspacing="0">
      <thead>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </thead>
      <tbody>
        <% day = 0; %>
        <% $.each(new Array(5), function(i, _i) { %>
          <tr>
             <% $.each(new Array(7), function(d, _d) { %>
               <td><%= day++ %></td>
             <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="three columns totals">
  <table cellspacing="0">
    <thead>
      <th>Bill</th>
      <th>Non</th>
      <th>Total</th>
    </thead>
    <tbody>
      <% $.each(new Array(5), function(i, _i) { %>
        <tr>
          <td>20</td>
          <td>20</td>
          <td>40</td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div>
<div class="row">
  <div class="one columns">&nbsp;</div>
  <div class="seven columns">
    <table>
      <thead>
        <th>&nbsp;</th>
        <th>Available</th>
        <th>Billable</th>
        <th>Nonbillable</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr>
          <td>
             <a href="#">October</a>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='four columns'>&nbsp;</div>
</div>
