/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.all
 *= require spinner
 *= require_tree .
*/
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/assets/OpenSans-Regular-webfont.eot');
    src: url('/assets/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/assets/OpenSans-Bold-webfont.eot');
    src: url('/assets/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Bold-webfont.woff') format('woff'),
         url('/assets/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('/assets/OpenSans-ExtraBold-webfont.eot');
    src: url('/assets/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('/assets/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('/assets/OpenSans-Light-webfont.eot');
    src: url('/assets/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Light-webfont.woff') format('woff'),
         url('/assets/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/assets/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;  
    font-style: normal;   

}

.top-bar{
  li.name b{
    font-family: "OpenSansLight";
  }
}

header.row{
  margin-top: 40px;
  border-bottom: 1px dotted #BBBBBB;
  margin-bottom: 20px;
}

h1{
  font-family: "OpenSansRegular" !important;
  font-weight: normal !important;
}

thead{
  font-family: "OpenSansLight" !important;
  font-weight: normal !important;
}

h4{
  font-family: "OpenSansLight" !important;
  font-weight: normal !important;
  margin-left: 10px !important;
  margin-top: -15px !important;
}

.eight {
  border-right: 1px dotted #BBBBBB !important;
}

.three {
  width: 22.8% !important;
}

.button.small{
  width: 60px;
}

.button.small.alert{
  margin-left: -4px;
}

table {
  width: 100%;
  border: none !important;
  
  tbody{
    tr{
      td:last-child{
        text-align: right;
      }
    }
  }
}

.button{
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #006DCC !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C)) !important;
  background-image: -webkit-linear-gradient(top, #08C, #04C) !important;
  background-image: -o-linear-gradient(top, #08C, #04C) !important;
  background-image: linear-gradient(to bottom, #08C, #04C) !important;
  background-image: -moz-linear-gradient(top, #08C, #04C) !important;
  background-repeat: repeat-x !important;
  border-color: #04C #04C #002A80 !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0) !important;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8) !important;
}



form{
  div.input{
    clear: both;
    label{
      width: 30%;
      float: left;
    }
    input, select, textarea, .complex-input{
      width: 60%;
      float: right;
      margin-bottom: 20px;
    }
    .complex-input{
      margin-bottom: 20px !important;
      input, select, .dropdown { width: 100%; height: 32px; padding: 6px;  }
      select { margin-bottom: -1px; }
      .dropdown { 
        line-height: 18px;
        ul {
          text-shadow: none !important;
          li{
            a{
              font-size: 12px !important;
            }
          }
        } 
        .show-dropdown {
          left: -256px;
          width: 380px;
          position: absolute;
        }
      }
    }
    select { height: 32px; }
    input.interval{
      margin-right: 0px !important;
      width: 100% !important;
    }
    .ui-spinner{
      position: absolute;
      right: -15px;
      z-index: 9;
    }
    .ui-spinner-button{
      height: 16px !important;
    }
  }
}

.ui-datepicker-div{
  z-index: 9;
}

circle, text{
  cursor: pointer;
}

#calendar-widget{
  padding: 0px;
  width: 9%;
  border-right: 1px dotted #bbb;
  padding: 8px;
  svg{
    margin-top: -20px;
  }
}

.remove {
  color: red;
}

.panel{
  .button{
    width: 100%;
  }
}

.interval-widget{
  a{
    position: absolute;
    right: 20px;
  }

  .minus{
    margin-top: 18px;
  }
}
