%nav.top-bar
  %ul
    %li.name
      %a{:href => "/#"}
        %b> Timesheet
        %span<
          App
    %li.divider
    %li 
      %a#today{:href => "#"} Today
    %li.divider
    %li
      %a#new_entry{:href => "#"} New entry
    %li.toggle-topbar= link_to "", "#"
  %section
    %ul.left
    %ul.right
      - if current_user and current_user.has_role? :admin
        %li.divider
        %li= link_to 'Admin', rails_admin_path, :onclick => "window.location.href = '/admin'"
      - if user_signed_in?
        %li.divider
        %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
